<div class="banner">
  <div class="banner-content">
    <span class="badge">OFERTA RELÂMPAGO</span>
    <h1 class="banner-titulo">Até <span class="destaque">60% OFF</span><br />em Eletrônicos</h1>
    <p class="banner-sub">As melhores ofertas do Brasil em um só lugar.<br />Aproveite enquanto durar o estoque!</p>
    <a routerLink="/ofertas" class="btn-banner">Ver Todas as Ofertas</a>
  </div>
  <div class="banner-img">
    <img src="assets/img/Mega_ofertaIMG.png" alt="Mega Ofertas" />
  </div>
</div>
